.github-link {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: rgb(73, 70, 70);
  margin-top: 10px;
  transition: all 0.3s ease;
  align-self: center;
}

.github-link:hover {
  color: rgba(73, 70, 70, 0.7);
}
