.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
  flex-direction: row;
}

.daily-text {
  font-size: 10px;
  margin-top: 12px;
}

.inputs-container {
  margin-left: 3%;
}
